services:
  db:
    image: mariadb:10.11
    container_name: librenms_db
    command:
      - "mysqld"
      - "--innodb-file-per-table=1"
      - "--lower-case-table-names=1"
      - "--character-set-server=utf8mb4"
      - "--collation-server=utf8mb4_unicode_ci"
    volumes:
      - ./db:/var/lib/mysql
    environment:
      TZ: "Asia/Bangkok"
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: "librenms"
      MYSQL_USER: "librenms"
      MYSQL_PASSWORD: "librenms"
    restart: always

  redis:
    image: redis:7-alpine
    container_name: librenms_redis
    environment:
      TZ: "Asia/Bangkok"
    restart: always

  librenms:
    image: librenms/librenms:latest
    container_name: librenms
    hostname: librenms
    cap_add:
      - NET_ADMIN
      - NET_RAW
    depends_on:
      - db
      - redis
    volumes:
      - ./librenms:/data
    environment:
      TZ: "Asia/Bangkok"
      PUID: "1000"
      PGID: "1000"
      DB_HOST: "db"
      DB_NAME: "librenms"
      DB_USER: "librenms"
      DB_PASSWORD: "librenms"
      DB_TIMEOUT: "60"
      CACHE_DRIVER: "redis"
      SESSION_DRIVER: "redis"
      REDIS_HOST: "redis"
      REDIS_PORT: "6379"
      REDIS_DB: "0"
      LIBRENMS_SNMP_COMMUNITY: "public"
      LIBRENMS_WEATHERMAP: "false"
    ports:
      - "8000:8000"
    restart: always

  dispatcher:
    image: librenms/librenms:latest
    container_name: librenms_dispatcher
    hostname: librenms-dispatcher
    cap_add:
      - NET_ADMIN
      - NET_RAW
    depends_on:
      - librenms
      - redis
    volumes:
      - ./librenms:/data
    environment:
      TZ: "Asia/Bangkok"
      PUID: "1000"
      PGID: "1000"
      DB_HOST: "db"
      DB_NAME: "librenms"
      DB_USER: "librenms"
      DB_PASSWORD: "librenms"
      DB_TIMEOUT: "60"
      REDIS_HOST: "redis"
      REDIS_PORT: "6379"
      REDIS_DB: "0"
      SIDECAR_DISPATCHER: "1"
      DISPATCHER_NODE_ID: "dispatcher1"
    restart: always